vaadin-dialog.about-dialog::part(backdrop) {
    backdrop-filter: blur(1px);
    will-change: backdrop-filter;
    contain: layout style paint;
}

vaadin-dialog.about-dialog::part(header) {
    margin-right: var(--lumo-space-s);
    margin-top: var(--lumo-space-s);
    padding: 0;
}