.file-list-item {
    flex-shrink: 0 !important;
    flex-grow: 0 !important;
    width: auto !important;
    height: 55px !important;
    max-width: 300px;
    display: flex !important;
    align-items: center !important;
    box-sizing: border-box;
    transition: box-shadow .3s;
}

.file-list-item:hover {
  box-shadow: var(--custom-box-shadow);
}

.file-list-item span {
    width: 120px;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.file-list-item img,
.file-list-item svg {
    pointer-events: none;
}

vaadin-context-menu-item.context-menu-item-no-checkmark {
  padding-left: var(--lumo-space-s);
  justify-content: flex-start;
}

vaadin-context-menu-item.context-menu-item-no-checkmark::part(checkmark)::before {
  display: none;
}

vaadin-context-menu-item.context-menu-item-no-checkmark[focused] {
    box-shadow: none;
}

/* estilo de item para borrar*/
vaadin-context-menu-item.delete:hover {
  color: #d50018;
  background-color: var(--red-error-color);
}

vaadin-context-menu-item[focused] {
   box-shadow: none;
}