.vertical-area {
    cursor: pointer;
    height: 350px;
    width: 100%;
    padding: 0px;
    overflow: auto;
}

.attachment {
    color: var(--lumo-secondary-text-color);
    padding: 0;
    margin-block: 0;
    border-radius: 9999px;
    --lumo-utility-border-color: var(--lumo-contrast-20pct);
    border: 1px var(--lumo-utility-border-style,solid) var(--lumo-utility-border-color,var(--lumo-contrast-10pct));
    background-color: transparent;
}

.validate-button {
    padding: var(--lumo-space-s);
    margin: 0;
    border-radius: var(--lumo-border-radius-l);
}

.anchor-downloader {
    display: block;
    width: 100%;
    text-decoration: none !important;
}