vaadin-popover.search-popover-content::part(backdrop) {
   /* backdrop-filter: blur(1px);
    will-change: backdrop-filter;
    contain: layout style paint; */
}

vaadin-popover.search-popover-content::part(content) {
   /* padding: var(--lumo-space-s);*/
}

vaadin-popover.search-popover-content::part(footer) {
    justify-content: flex-start;
}

.hr-line {
    margin: var(--lumo-space-xs);
}