vaadin-dialog.search-dialog-content::part(backdrop) {
    backdrop-filter: blur(4px);
    will-change: backdrop-filter;
    contain: layout style paint;
}

vaadin-dialog.search-dialog-content::part(content) {
   padding: var(--lumo-space-s);
}

vaadin-dialog.search-dialog-content::part(footer) {
    justify-content: flex-start;
}

.hr-line {
    margin: var(--lumo-space-xs);
}