.parent-span {
    cursor: pointer;
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    background-color red;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
}

.parent-span:hover {
    transition: background-color 0.3s ease;
}

.error-word {
    display: inline;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.error-word.visible {
    opacity: 1;
    transform: translateY(0);
}