.parent-span {
    cursor: pointer;
    padding: var(--lumo-space-s);
    border-radius: var(--lumo-border-radius-l);
    border-bottom: 1px solid var(--lumo-contrast-10pct);
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);

    background-color: transparent;
    transition: background-color 0.3s ease;
}

.parent-span:hover {
   background-color: var(--lumo-contrast-5pct);
}

.error-word {
    display: inline;
    opacity: 0;
    transform: translateY(-5px);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.error-word.visible {
    opacity: 1;
    transform: translateY(0);
}