
html {
  --custom-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.span-shadow {
    box-shadow: var(--custom-box-shadow);
}

/* Solo afecta a los uploads que tengan la clase 'sin-borrado' */
.sin-borrado vaadin-upload-file::part(remove-button) {
    display: none;
}

.div-input-view {
   padding: 14px .03rem 15px!important;
   overflow-x: hidden;
   overflow-y: scroll;
   display: block;
   position: absolute;
   height: calc(100% - 90px);
   width: 100%;
}

.div-parent {
    padding: 14px .03rem 15px !important;
    overflow: hidden;
    top: 90px;
    height: 100%;
}

.div-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: calc(100% - 90px);
    margin: 24px auto 0;
    overflow: visible;
    padding: 0;
    border-radius: 6px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}