
html {
  --custom-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.span-shadow {
    box-shadow: var(--custom-box-shadow);
}

/* Solo afecta a los uploads que tengan la clase 'sin-borrado' */
.sin-borrado vaadin-upload-file::part(remove-button) {
    display: none;
}