vaadin-upload.validator-upload {
  border: none;
  overflow: visible;
  height: 39px;
  padding: 0px;
  margin-right: 1px;
}

vaadin-upload.validator-upload vaadin-upload-file::part(row) {
  display: none;
}

vaadin-upload.validator-upload::part(drop-label) {
  display: none;
}

vaadin-upload.validator-upload::host(:not([nodrop])) {
  display: none;
}
