@import url("./styles/test.css");

html {
  --custom-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  --custom-image-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px, rgba(0, 0, 0, 0.19) 0px 6px 20px;
}

.span-shadow {
    box-shadow: var(--custom-box-shadow);
}

.logo {
    box-shadow: var(--custom-image-shadow);
}

vaadin-context-menu-item.context-menu-item-no-checkmark {
  padding-left: var(--lumo-space-s);
  justify-content: flex-start;
}

vaadin-context-menu-item.context-menu-item-no-checkmark:hover {
  color: #d50018;
  background-color: rgba(184,5,49, .08);
}

vaadin-context-menu-item.context-menu-item-no-checkmark::part(checkmark)::before {
  display: none;
}

vaadin-context-menu-item.context-menu-item-no-checkmark[focused] {
    box-shadow: none;
}

vaadin-context-menu-item[focused] {
   box-shadow: none;
}

vaadin-upload.esptool-homepath-upload {
  border: none;
  overflow: visible;
  height: 39px;
  padding: 0px;
  margin-right: 1px;
}

/* Ocultar solo la lista de archivos */
vaadin-upload.upload-xml-xsd::part(file-list) {
  display: none;
}

/* O si usas el shadow DOM */
vaadin-upload.upload-xml-xsd vaadin-upload-file-list {
  display: none;
}

.close-button-hover:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.copy-button-hover:hover {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 15px;
  transition: background-color 0.2s ease;
  --lumo-button-size: var(lumo-size-small);
}

/* Clase para el icono con efecto */
.icon-hover-effect {
    /* Tamaño estricto del icono (svg interno) */
    /*--vaadin-icon-width: 25px;
    --vaadin-icon-height: 2px;*/

    /* Tamaño total del área clicable (icono + espacio alrededor)
    width: 30px;
    height: 30px;*/
    padding: 4px; /* Espacio extra para que el círculo se vea bien */

    /* Configuración del círculo y transición */
    border-radius: 50%; /* Hace que el background sea perfectamente redondo */
    transition: background-color 0.2s ease; /* 0.5s hace que aparezca "lentamente" */
    cursor: pointer; /* Cambia el puntero al pasar por encima */
    /* color: #333;  Color del icono */
}

/* Estado Hover: cuando el mouse pasa por encima */
.icon-hover-effect:hover {
    background-color: rgba(128, 128, 128, 0.2); /* Grisáceo con transparencia */
}


/* Añade esto a tus estilos globales */
@keyframes fadeInSimple {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.error-word {
    animation: fadeInSimple 0.5s ease-in forwards;
    display: inline-block; /* Necesario para transform */
    margin-right: 4px; /* Espacio entre palabras */
}